@page "/login"

<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3"style="background-color:#08708a">
            <h1 class="h3 mb-3 pt-3 font-weight-normal text-primary" style="text-align:center;">Sign In</h1>

            <form>
                <input id="email" placeholder="Email..." class="form-control mb-2" />
                <input type="password" placeholder="Password..." id="password" class="form-control mb-2" />

                <button type="submit" class="btn btn-success btn-block"><i class="fas fa-sign-in-alt"></i> Sign in</button>

                <a href="/registration"
                   class="btn btn-primary text-white mt-3"><i class="fas fa-user-plus"></i> Register as a new user</a>
            </form>
        </div>
    </div>
</div>


@code {

}
