@page "/registration"

<form  class="pt-4">
    <div class="py-4">
        <div class=" row form-group ">
            <div class="col-6 offset-3 ">
                <div class="card border" style="background-color:#08708a">
                    <div class="card-body px-lg-5 pt-4">
                        <h3 class="col-12 text-success text-center py-2">
                            <strong>Sign Up</strong>
                        </h3>
                        
                        <hr style="background-color:aliceblue" />
                        <div class="py-2">
                            <input class="form-control" placeholder="Name..."  />
                            
                        </div>
                        <div class="py-2">
                            <input class="form-control" placeholder="Email..." />
                            
                        </div>
                        <div class="py-2 input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> +93</span>
                            </div>
                            <input class="form-control" placeholder="Phone number..." />
                            
                        </div>
                        <div class="form-row py-2">
                            <div class="col">
                                <input type="password" id="password" placeholder="Password..." class="form-control" />
                            </div>
                            <div class="col mt-3">
                                <input type="password" id="confirm" class="form-control" placeholder="Confirm Password..."  />
                            </div>

                        </div>
                        <hr style="background-color:aliceblue" />
                        <div class="py-2">
                            <button type="submit" class="btn btn-success btn-block"><i class="fas fa-sign-in-alt"></i> Register</button>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>



</form>



@code {

}
